@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 340 100% 98%;
    --foreground: 340 100% 10%;
    --primary: 340 100% 50%;
    --secondary: 340 100% 90%;
    --accent: 340 100% 80%;
    --border: 340 100% 90%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 340 100% 10%;
    --foreground: 340 100% 98%;
    --primary: 340 100% 80%;
    --secondary: 340 100% 20%;
    --accent: 340 100% 30%;
    --border: 340 100% 20%;
  }
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    @apply bg-background text-foreground;
  }
}
